{% extends "blog/base.html" %}

{% block title %} <title>Search</title>{% endblock %}

{% block body %}


        <form method="get" class="d-flex mb-5" >
          <input class="form-control me-2" value="{{request.GET.query}}" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    {% if result %}
        <div class="list-group">
            {% for res in result %}
                {% if res %}
                    <a href="{% url 'blog:detail' pk=res.id %}" class="list-group-item list-group-item-action">{{res.title}}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}